@charset "UTF-8";
@font-face {
    src: url('NotoSansKR-Medium.otf');
    font-family: "noto";
}

@font-face {
    src: url('NotoSansKR-Light.otf');
    font-family: "noto-l";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "noto";
    /* font-family: "noto-l"; */
    
}

body {
    background-color: #f4f5f9;
}

.login_popup {
    background-color: #fff;
    width: 50vw;
    height: 600px;
    box-shadow: 1px 5px 10px 1px #0001;
    margin: 150px auto;
    padding: 20px;
    /* display: flex; */
    display: none;
    align-items: center;
    flex-direction: column;
}

.main_logo {
    width: 100%;
    height: 15%;
    text-align: center;
    margin-top: 50px;
}

.main_logo>span {
    color: #3ebbbf;
    font-size: 32px;
}

.main_logo>span>span {
    color: #00666a;
}

.main_logo>p {
    color: #9ca7bd;
    font-size: 16px;
}

.text {
    width: 75%;
    text-align: center;
    font-size: 32px;
    color: #404f62;
    border-bottom: 2px solid #404f62;
    padding-bottom: 5px;
}

.form {
    margin-top: 30px;
    width: 75%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input_box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input_text {
    margin-top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input_text>p {
    color: #404f62;
    width: 48%;
}

.input_input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.input_input>input {
    all: unset;
    width: 45%;
    height: 50px;
    border: 2px solid #ecebf0;
    padding: 0 10px;
    font-size: 14px;
}

.fail {
    display: none;
    margin-top: 10px;
    width: 100%;
    font-size: 13px;
    color: #ff7c6d;
}

.btn_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    
}

.btn_submit {
    all: unset;
    background-color: #01b0b5;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 45%;
    height: 60px;
    font-size: 16px;
}

.register_move_btn {
    font-size: 13px;
    margin-top: 10px;
    border-bottom: 1px solid #404f62;
    color: #404f62;
    cursor: pointer;
}

.register_popup {
    background-color: #fff;
    width: 50vw;
    height: 730px;
    box-shadow: 1px 5px 10px 1px #0001;
    margin: 150px auto;
    padding: 20px;
    display: flex; 
/*     display: none; */
    align-items: center;
    flex-direction: column;
}

.register_btn {
    
}

.login_move_btn {
    font-size: 13px;
    margin-top: 20px;
    border-bottom: 1px solid #404f62;
    color: #404f62;
    cursor: pointer;
}

.score_popup {
    background-color: #fff;
    width: 50vw;
    height: 630px;
    box-shadow: 1px 5px 10px 1px #0001;
    margin: 150px auto;
    padding: 20px;
    display: flex;
    display: none;
    align-items: center;
    flex-direction: column;
}

.main_page {
    width: 100vw;
    height: 100vh;
    /* display: none; */
}

header {
    width: 100%;
    height: 60px;
    background-color: #01b0b5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

.header_logo {
    color: #e8fafb;
    font-size: 20px;
}

.header_right_box {
    height: 100%;
    display: flex;
    align-items: center;
}

.header_input {
    width: 250px;
    color: #e8fafb;
    background-color: #27bcc0;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    padding-right: 10px;
}

.header_input>input {
    all: unset;
    color: #d8f0f0;
    font-size: 12px;
    padding: 0 10px;
}

.header_input>input::placeholder {
    color: #d8f0f0;
    font-size: 12px;
}

.user_profile {
    width: 150px;
    height: 100%;
    background-color: #00a8ae;
    text-align: center;
    cursor: pointer;
}

.user_profile>p {
    color: #dceeed;
    font-size: 15px;
}

.user_profile span {
    color: #81d9da;
    font-size: 13px;
}

.user_profile a {
	color : #dceeed;
}

.header_sub {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: #edeef3;
    padding: 0 200px;
    display: flex;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 30px;
    color: #505161;
    cursor: pointer;
}

.tab>p {
    margin: 0 5px;
}

.tab:hover {
    color: #1ab1b4;
    border-bottom: 3px solid #1ab1b4;
}

.main_tab {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

.main_tab>span {
    color: #28374e;
    font-size: 25px;
}

.main_card_list {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main_card {
    width: 370px;
    height: 450px;
    background-color: #fff;
    border: 2px solid #eaedf3;
    border-radius: 5px;
    padding: 10px 20px;
}

.card_text {
    color: #3c3f4c;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}

.card_text>div>span {
    margin-left: 10px;
}

.menu {
    width: 45px;
    height: 45px;
    border: 2px solid #f4f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
}

.score_box {
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border-radius: 300px;
    background: conic-gradient(#42cf97 70%, #d4d4d4 0);
}

.score_inner_box {
    background-color: #fff;
    width: 260px;
    height: 260px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    color: #42cf97;
    font-weight: 100;
    flex-direction: column;
}

.score_inner_box > p {
    font-family: "noto-l";
}

.score_inner_box>p>span {
    font-size: 20px;
}

.score_text {
    font-size: 16px;
    color: #a4afc4;
}

.s_score_text {
    color: #f79f24;
}

.g_score_text {
    color: #f76277;
}

.user_score {
    font-family: "맑은 고딕";
    width: 100%;
    color: #fd6843;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130px;
}

.user_score > p {
    font-family: 'noto-l';
}

.user_score>p>span {
    font-size: 25px;
    color: #a8b3c6;
}

.user_cnt {
    width: 100%;
    color: #fd6843;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130px;
}

.user_cnt > p {
    font-family: 'noto-l';
}

.user_cnt>p>span {
    font-size: 25px;
    color: #a8b3c6;
}

.sub_tab {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    display: none;
}

.sub_tab>span {
    color: #28374e;
    font-size: 25px;
}

.user_list_box {
    margin-top: 50px;
    width: 100%;
    height: 600px;
    background-color: #fff;
    padding: 40px 30px;
    overflow-y: auto;
}

.user_list_box>span {
    color: #28374e;
    font-size: 23px;
}

th {
    color: #9fa9ae;
    font-size: 14px;
}

td {
    color: #9fa9ae;
    font-size: 12px;
}

table {
    margin-top: 30px;
    border-top: 2px solid #a5e2e3;
    border-bottom: 2px solid #a5e2e3;
}

.t_header {
    background-color: #ecf8f8;
}